.homeNavbar {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.homeNavbar :nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeNavbar :nth-child(1) img {
    height: 2rem;
    width: 2rem;
    border-radius: 4px;
    margin-right: 0.7rem;
}


.homeNavbar :nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.bottomPart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
}

.all-Btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.btn {
    width: 8rem;
    height: 7.5rem;
    border-radius: 0.6rem;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.btn:hover {
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(1px);
}

.btn1 {
    background-color: #2563EB;
    color: #FFFFFF;
    border: 2px #1D4ED8 solid;
}

.btn1:hover{
    background-color: #1D4ED8;
}

.btn2 {
    background-color: #10B981;
    color: #FFFFFF;
    border: 2px #059669 solid;
}

.btn2:hover{
    background-color: #059669;
}

.btn3 {
    background-color: #7C3AED;
    color: #FFFFFF;
    border: 2px #6D28D9 solid;
}

.btn3:hover{
    background-color: #6D28D9;
}

.btn4 {
    background-color: #F59E0B;
    color: #FFFFFF;
    border: 2px #D97706 solid;
}

.btn4:hover{
    background-color: #D97706;
}

.bottomImg {
    width: 24rem;
    height: 90vh;
    margin-right: 5rem;
}